.item-image {
  position: relative;
  width: 100%;
  height: 15rem;
  margin-bottom: 1em;
  background-color: white;
  background-size: 70% auto;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
}